@charset "UTF-8";
body{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	height:100vh;
	margin:0;
	background-color:#AEFD6C;
	background-image: url("images/background.png");
	background-size:cover;
	background-position : center center;
}
.container{
	width:80%;
	max-width: 400px;
	padding:20px;
	border-radius:10px;
	box-shadow: 0 0 10px rgba(0,0,1,0.5);
	background-color:#fff;
	text-align:center;
}
h1{
	font-weight:bold;
	text-align:center;
	color:#333;
}
label{
	display:block;
	margin : 10px 0;
	color: #555;
}
input[type="text"],input[type="password"],input[type="email"]{
	width : 100%;
	padding : 12px;
	color: #333;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	margin-bottom:10px;
}
button{
	width:100%;
	padding:12px;
	cursor:pointer;
	background-color:#007BFF;
	color:#fff;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	transition : background-color 0.3s ease, transform 0.3s ease;
}
button:hover{
	background-color:#0056b3;
	transform:scale(1.05);
}
a {
	text-decoration: none;
	color : #007BFF;
	font-weight : bold;
}
a:hover{
	color:#0056b3;
}